# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = properties.settings

[deploy]
url = http://dash.scrapinghub.com/api/scrapyd/
username = b1907c118e2d4a47aefdd6aec807bbba
password =
project = 378292